body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dedede;
    color: #333;
    padding: 20px 0 28px 0;
    margin: 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .app-title {
    text-align: center;
    font-weight: normal;
    font-size: 2.6rem;
  }
  
  .animal {
    max-width: 650px;
    padding: 20px;
    margin: 30px auto;
    background-color: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .animal h4 {
    margin: 0 0 6px 0;
  }
  
  .member-photo {
    float: left;
    width: 40%;
    margin-right: 15px;
  }
  
  .member-name {
    font-size: 2rem;
    font-weight: normal;
    margin: 0 0 1rem 0;
  }
  
  .species {
    font-size: 0.9rem;
    color: #888;
    vertical-align: middle;
  }
  
  .foods-list {
    margin: 0;
    padding: 0;
    position: relative;
    left: 17px;
    font-size: 0.85rem;
    line-height: 1.5;
  }
  
  .footer {
    font-size: 0.7rem;
    color: #888;
    text-align: center;
    margin: 0;
  }
  